<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://api.hongkongtech.org</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>fil</string>
		<string>id</string>
		<string>zh-Hant</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>

	<key>NSCameraUsageDescription</key>
	<string>SmartFridge uses the camera to scan your fridge contents.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SmartFridge reads photos from your library to detect fridge contents.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>PixelifySans-Regular.ttf</string>
		<string>PixelifySans-Bold.ttf</string>
		<string>DotGothic16-Regular.ttf</string>
		<string>BitcountGridDouble-Regular.ttf</string>
		<string>SpaceGrotesk-Light.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-SemiBold.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
